img{
    width: 150px;
    border-radius: 20px;
    margin-left: 40px;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
}

.Nav-items{
    padding: 0px 80px;
    margin: 50px;
}

.Nav-items > ul{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
}

li{
    padding: 30px;
    font-size: 20px;
}

li:hover{
    color: orange;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.res-card{
    border: 2px solid gray;
    width: 200px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: lightgrey;
}

.res-card:hover{
    border: 2px solid lightgrey;
}

.res-img{
    width: 150px;
    height: 150px;
    margin: 10px;
}

span{
    text-align: center;
}

.shimmer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shimmer-card{
    background-color: lightgrey;
    border: 2px solid gray;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
}